@import 'variables';
@import 'mixins';
@import 'reset';
@import 'fonts';
@import 'typography';

// =>

html {
	font-size: 10px;
}

body {
	font-family: Yekan;
	font-weight: 400;
	font-size: 1.6rem;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
}

.thumb {
	display: flex;
	max-width: 62px;
	border: 5px solid #ddd;
	border-radius: 4px;
}
